* {
  box-sizing: border-box;
}

body {
  background: #dac7cc;
  color: #383224;
}

.container {
  padding: 70px;
  max-width: 700px;
  margin: 0 auto;
}

h1 {
  color: #84263c;
}

code {
  display: block;
  padding: 10px 15px;
  background: rgba(#fff, .3);
  border-radius: 3px;
  font-size: 13px;
  line-height: 1.6;
  color: #444;
  margin-top: 30px;
}

blockquote {
  margin: 40px 0 0 0;
  line-height: 1.3;
  font-style: italic;
  color: #a56a78;
  border-top: 1px solid #a56a78;
  border-bottom: 1px solid #a56a78;
  padding: 30px 0;
}
